#mainH1{
    text-align: center;
}

#shootTimeButtons{
    text-align: center;
    padding: 5px;
}

#trailer{
    text-align: center;
}

.card-img-top{
    height: 300px;
    width: 400px;
}

#searchLocationBar{
    text-align: center;
}

